<html>
<head>
<title>Done</title>
<link rel = "stylesheet" type = "text/css" href = "../static/table_style.css">
<style>
p{
text-align: center;}
</style>
<h1 class="text">Большое спасибо, ваш ответ записан</h1>
</head>
<body>
<p></p>
<p style = "font-size: 30px; color:#2F4F4F">Теперь вы можете:</p>
<p><a href="/stats">Посмотреть результаты</a></p>
<p><a href="/search">Поискать по ответам</a></p>
<p><a href="/json">Посмотреть данные в формате json</a></p>

</form>
</body>
</html>