<html>
<head>
<title>Поиск</title>
<h1>Анкета</h1>
</head>
<body>
<form>

<p>Язык  <input type = "text" name = "Язык"></p>
<table>
<tr>
	<th>Тема</th>
    <th>Выражение</th>
    <th>Перевод</th>
    <th>Части речи</th>
    <th>Буквальный перевод глагола</th>
	<th>Пример с буквальным переводом</th>
</tr>
   
<tr>
	<td>Пример</td>
	<td>Поднять руку</td>
	<td>to raise a hand</td>
	<td>Verb + noun</td>
	<td>Поднимать</td>
	<td>to raise a weight from the ground</td>
</tr>
<tr>
	<td>Ноги</td>
	<td>Скрестить ноги (внизу)</td>
	<td><input type = "text" name = "Скрестить ноги (внизу)1"></td>
	<td><input type = "text" name = "Скрестить ноги (внизу)2"></td>
	<td><input type = "text" name = "Скрестить ноги (внизу)3"></td>
	<td><input type = "text" name = "Скрестить ноги (внизу)4"></td>
</tr>
<tr>
	<td></td>
	<td>Положить ногу на ногу</td>
	<td><input type = "text" name = "Положить ногу на ногу1"></td>
	<td><input type = "text" name = "Положить ногу на ногу2"></td>
	<td><input type = "text" name = "Положить ногу на ногу3"></td>
	<td><input type = "text" name = "Положить ногу на ногу4"></td>
</tr>
<tr>
	<td></td>
	<td>Вытянтуь ноги (лежа)</td>
	<td><input type = "text" name = "Вытянтуь ноги (лежа)1"></td>
	<td><input type = "text" name = "Вытянтуь ноги (лежа)2"></td>
	<td><input type = "text" name = "Вытянтуь ноги (лежа)3"></td>
	<td><input type = "text" name = "Вытянтуь ноги (лежа)4"></td>
</tr>
<tr>
	<td>Руки</td>
	<td>Закинуть за голову (лежа)</td>
	<td><input type = "text" name = "Закинуть за голову (лежа)1"></td>
	<td><input type = "text" name = "Закинуть за голову (лежа)2"></td>
	<td><input type = "text" name = "Закинуть за голову (лежа)3"></td>
	<td><input type = "text" name = "Закинуть за голову (лежа)4"></td>
</tr>
<tr>
	<td></td>
	<td>Раскинуть руки</td>
	<td><input type = "text" name = "Раскинуть руки1"></td>
	<td><input type = "text" name = "Раскинуть руки2"></td>
	<td><input type = "text" name = "Раскинуть руки3"></td>
	<td><input type = "text" name = "Раскинуть руки4"></td>
</tr>
<tr>
	<td></td>
	<td>Положить руки под голову</td>
	<td><input type = "text" name = "Положить руки под голову1"></td>
	<td><input type = "text" name = "Положить руки под голову2"></td>
	<td><input type = "text" name = "Положить руки под голову3"></td>
	<td><input type = "text" name = "Положить руки под голову4"></td>
</tr>
<tr>
	<td>Пальцы</td>
	<td>Сгибать пальцы</td>
	<td><input type = "text" name = "Сгибать пальцы1"></td>
	<td><input type = "text" name = "Сгибать пальцы2"></td>
	<td><input type = "text" name = "Сгибать пальцы3"></td>
	<td><input type = "text" name = "Сгибать пальцы4"></td>
</tr>
<tr>
	<td></td>
	<td>Загибать пальцы</td>
	<td><input type = "text" name = "Загибать пальцы1"></td>
	<td><input type = "text" name = "Загибать пальцы2"></td>
	<td><input type = "text" name = "Загибать пальцы3"></td>
	<td><input type = "text" name = "Загибать пальцы4"></td>
</tr>
<tr>
	<td></td>
	<td>Приставить палец ко лбу</td>
	<td><input type = "text" name = "Приставить палец ко лбу1"></td>
	<td><input type = "text" name = "Приставить палец ко лбу2"></td>
	<td><input type = "text" name = "Приставить палец ко лбу3"></td>
	<td><input type = "text" name = "Приставить палец ко лбу4"></td>
</tr>
<tr>
	<td>Спина</td>
	<td>Свернуться калачиком</td>
	<td><input type = "text" name = "Свернуться калачиком1"></td>
	<td><input type = "text" name = "Свернуться калачиком2"></td>
	<td><input type = "text" name = "Свернуться калачиком3"></td>
	<td><input type = "text" name = "Свернуться калачиком4"></td>
</tr>
<tr>
	<td></td>
	<td>Выгнуть спину (вверх)</td>
	<td><input type = "text" name = "Выгнуть спину (вверх)1"></td>
	<td><input type = "text" name = "Выгнуть спину (вверх)2"></td>
	<td><input type = "text" name = "Выгнуть спину (вверх)3"></td>
	<td><input type = "text" name = "Выгнуть спину (вверх)4"></td>
</tr>
<tr>
	<td></td>
	<td>Прогнуть спину (вниз)</td>
	<td><input type = "text" name = "Прогнуть спину (вниз)1"></td>
	<td><input type = "text" name = "Прогнуть спину (вниз)2"></td>
	<td><input type = "text" name = "Прогнуть спину (вниз)3"></td>
	<td><input type = "text" name = "Прогнуть спину (вниз)4"></td>
</tr>
<tr>
	<td>Шея и голова</td>
	<td>Обернуться</td>
	<td><input type = "text" name = "Обернуться1"></td>
	<td><input type = "text" name = "Обернуться2"></td>
	<td><input type = "text" name = "Обернуться3"></td>
	<td><input type = "text" name = "Обернуться4"></td>
</tr>
<tr>
	<td></td>
	<td>Оглянуться</td>
	<td><input type = "text" name = "Оглянуться1"></td>
	<td><input type = "text" name = "Оглянуться2"></td>
	<td><input type = "text" name = "Оглянуться3"></td>
	<td><input type = "text" name = "Оглянуться4"></td>
</tr>
<tr>
	<td></td>
	<td>Наклонить голову</td>
	<td><input type = "text" name = "Наклонить голову1"></td>
	<td><input type = "text" name = "Наклонить голову2"></td>
	<td><input type = "text" name = "Наклонить голову3"></td>
	<td><input type = "text" name = "Наклонить голову4"></td>
</tr>
<tr>
	<td>Разное</td>
	<td>Высунуть язык</td>
	<td><input type = "text" name = "Высунуть язык1"></td>
	<td><input type = "text" name = "Высунуть язык2"></td>
	<td><input type = "text" name = "Высунуть язык3"></td>
	<td><input type = "text" name = "Высунуть язык4"></td>
</tr>
<tr>
	<td></td>
	<td>Сложить губы трубочкой</td>
	<td><input type = "text" name = "Сложить губы трубочкой1"></td>
	<td><input type = "text" name = "Сложить губы трубочкой2"></td>
	<td><input type = "text" name = "Сложить губы трубочкой3"></td>
	<td><input type = "text" name = "Сложить губы трубочкой4"></td>
</tr>
<tr>
	<td></td>
	<td>Махать хвостом</td>
	<td><input type = "text" name = "Махать хвостом1"></td>
	<td><input type = "text" name = "Махать хвостом2"></td>
	<td><input type = "text" name = "Махать хвостом3"></td>
	<td><input type = "text" name = "Махать хвостом4"></td>
</tr>
</table>

<input type = "submit" value = "Отправить">
</form>

</form>
</body>
</html> 