<html>
<head>
<title>Поиск</title>
<h1 class = "text">Поиск</h1>
<link rel = "stylesheet" type = "text/css" href = "../static/table_style.css">
</head>
<body>
<p style = "font-size: 20px; color:#2F4F4F">На этой странице вы можете найти выражение, соответствующее искомому, в другом языке.</p>

<form>
   <p>Выберите язык  
   {%for el in Lang:%}
		<input type="radio" name="language" value={{el}}>{{el}}
   {% endfor %}
<p>Введите выражение на русском  <input type = "text" name = "word">
<input type = "submit" value = "Найти"></p>
</form>
<p><a href="/done">Вернуться в меню</a></p>
</body>
</html> 